<nav class="navbar navbar-default" role="navigation" th:fragment="header (onevar)">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" th:text="#{bsfit.push.control}"></a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li th:class="${onevar} == 'push' ? 'active'"><a href="#" th:text="#{bsfit.push}"  th:href="@{/cjl}"></a></li>
            <li th:class="${onevar} == 'delete' ? 'active'"><a href="#" th:text="#{bsfit.push.delete}" th:href="@{/controllist}"></a></li>
        </ul>
    </div>
    </div>
</nav>